{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Wolframio</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{{ path('inicio') }}">Documento</a></li>
            <li class="breadcrumb-item active">Error</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                Estos documentos se enviaron a la DIAN pero generaron error.
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Documentos con error
            </div>

            <div class="card-body">
                {{ form_widget(form.btnActivar, { 'attr': {'class': 'btn btn-sm btn-primary'} }) }}
                {{ form_widget(form.btnActivarEnviar, { 'attr': {'class': 'btn btn-sm btn-primary'} }) }}
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>IdCliente</th>
                        <th>Registro</th>
                        <th>Prefijo</th>
                        <th>Numero</th>
                        <th>Fecha</th>
                        <th>Cod</th>
                        <th>Cuenta</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for documento in documentos %}
                        <tr>
                            <td class="">{{ documento.id }}</td>
                            <td>{{ documento.documentoClienteId }}</td>
                            <td>{{ documento.fechaRegistro | date('Y-m-d H:i') }}</td>
                            <td>{{ documento.prefijo }}</td>
                            <td>{{ documento.numero }}</td>
                            <td>{{ documento.fecha | date('Y-m-d') }}</td>
                            <td>{{ documento.cuentaId }}</td>
                            <td>{{ documento.cuentaNombre }}</td>
                            <td><a class="btn" href="javascript:abrirVentana('{{ path('wolframio_documento_detalle', { 'id': documento.id}) }}', 'Archivos', 500, 1200)">Ver</a></td>
                            <td><input class="form-check-input" type="checkbox" name="ChkSeleccionar[]" value="{{ documento.id }}"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

