{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Itrio</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{{ path('inicio') }}">Usuarios</a></li>
            <li class="breadcrumb-item active">Lista</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Usuarios
            </div>

            <div class="card-body">
                <div class="d-flex justify-content-between mb-3">
                    <div class="d-flex align-items-center">
                        <label for="" class="me-2"></label>
                    </div>
                    <div class="d-flex align-items-center">
                        <label for="" class="me-2"></label>
                    </div>
                    <div>
                        {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-sm btn-primary'} }) }}
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Saldo</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for usuario in usuarios %}
                        <tr>
                            <td>{{ usuario.id }}</td>
                            <td>{{ usuario.username }}</td>
                            <td>{{ usuario.nombre_corto }}</td>
                            <td>{{ usuario.correo }}</td>
                            <td>{{ usuario.vr_saldo }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
