{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Itrio</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{{ path('inicio') }}">Movimiento</a></li>
            <li class="breadcrumb-item active">Lista</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Movimientos
            </div>

            <div class="card-body">
                <div class="d-flex justify-content-between mb-3">
                    <div class="d-flex align-items-center">
                        <label for="{{ form.entorno.vars.id }}" class="me-2">Entorno:</label>
                        {{ form_widget(form.entorno, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div>
                        {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btn btn-sm btn-primary'} }) }}
                        {{ form_widget(form.btnEliminar, { 'attr': {'class': 'btn btn-sm btn-primary'} }) }}
                    </div>
                </div>
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tipo</th>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Afectado</th>
                        <th>Saldo</th>
                        <th>Usuario_id</th>
                        <th>Usuario</th>
                        <th>Referencia</th>
                        <th>Fis</th>
                        <th></th>
                        <th class="text-center" title="seleccionar todos">
                            <div>
                                <input type="checkbox" name="ChkSeleccionar[]"
                                       id="todosInput"
                                       onclick="ChequearTodosTabla(this, 'ChkSeleccionar[]')"/>
                                <label class="custom-control-label" for="todosInput"></label>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for movimiento in movimientos %}
                        <tr>
                            <td class="">{{ movimiento.id }}</td>
                            <td>{{ movimiento.tipo }}</td>
                            <td>{{ movimiento.fecha | date('Y-m-d H:i') }}</td>
                            <td>{{ movimiento.vr_total }}</td>
                            <td>{{ movimiento.vr_afectado }}</td>
                            <td>{{ movimiento.vr_saldo }}</td>
                            <td>{{ movimiento.usuario_id }}</td>
                            <td>{{ movimiento.usuario_username }}</td>
                            <td>{{ movimiento.contenedor_movimiento_id }}</td>
                            <td>{{ movimiento.documento_fisico?'SI':'NO' }}</td>
                            <td>
                                {% if movimiento.tipo == 'PEDIDO' and movimiento.documento_fisico == false and movimiento.vr_saldo <= 0 %}
                                <a class="btn"
                                   href="javascript:abrirVentana('{{ path('itrio_movimiento_subir', { 'id': movimiento.id}) }}', 'Archivos', 500, 1200)">Subir</a>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <div>
                                    <input type="checkbox" name="ChkSeleccionar[]" class="custom-control-input"
                                           value="{{ movimiento.id }}"
                                           id="{{ movimiento.id }}"/>
                                    <label class="custom-control-label" for="{{ movimiento.id }}"></label>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
